.card {
  width: 320px;
  padding: 3px;
  margin: 1em;
  border: 1px solid #c0c0c0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.card__graphic {
  width: 320px;
  height: 200px;
}

.card__placeholder {
  height: 100%;
  background: #e0e0e0;
}

.card__body {
  margin: 0.5em;
}