@import './Vars.scss';
@import './Media.scss';

body {
  margin: 0;
  font-family: $theme-font;
}

* {
  // box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

th, td {
  text-align: center;
  border: 1px solid black;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  color: #7e7e7e;
}

input, select {
  font-size: 1rem;
  height: 2em;
  padding: 0 0.3em;
  border: 1px solid #c0c0c0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0.2em 0;
}

select {
  box-sizing: content-box;
  background: #ffffff;
}

.centered {
  text-align: center;
}

.title {
  width: 100%;
  color: #b3b3b3;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0 5%;
}

.button {
  display: block;
  font-size: 1rem;
  padding: 0.5em 2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #7ed3e4;
  cursor: pointer;
}